.tarjeta {
  width: 250px !important;
  height: 250px !important;
  border-radius: 5px;
  padding: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: larger;
  font-weight: bold;
  color: var(--main-color);
  position: relative;
  background-color: white;
  cursor: pointer;
}

.tarjeta > .icon {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 3rem;
  color: #8fb4d3;
}
