.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
}

.input {
  width: 80%;
  padding: 0.7rem 1.5rem;
  margin: 0.8rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: gray;
}

.grupoBotones {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 1rem;
  margin-top: 1rem;
}

.boton {
  background-color: var(--btn-main-color);
  padding: 0.6rem;
  border-radius: 5px;
  color: aliceblue;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 0.1rem;
}

.boton:hover {
  background-color: var(--btn-main-hover);
}

.outlet {
  padding: 1rem;
  width: 100%;
  height: auto;
  position: relative;
}

.sppiner {
  position: absolute;
  left: 45%;
}

@media only screen and (max-width: 720px) {
  .contenedor {
    height: auto;
    margin: 2rem 0;
  }

  .contenedor h1 {
    font-size: 1.7rem;
  }

  .boton {
    font-size: 0.6rem;
  }
}
