.navBar {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navBar img {
  width: 140px;
  height: 35px;
  user-select: none;
}

.sectionLine {
  height: 3rem;
  background-color: var(--bg-second-color);
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.title {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bolder;
}

.button {
  width: 6rem;
  background-color: var(--btn-main-color);
  padding: 0.4rem;
  border-radius: 5px;
  color: aliceblue;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 0.1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button > ion-icon {
  font-size: 1.3rem;
}

.button:hover {
  background-color: var(--btn-main-hover);
}

.sectionBack > ion-icon {
  font-size: 2rem;
  color: #333333;
  cursor: pointer;
}

.containerLogoTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
